header{
    display: flex;
    width: 100%;
    height: 8vh;
    background-color: orange;
    justify-content: center;
    align-items: center;

}

header > img{
    width: 50px;
    height: 50px;
    margin-right: 1rem;
}

.chef-body{
    width: 35%;
    height: 60vh;
    background-color: #F55A5A;
}