.chef-form{
    display: flex;
    padding: 1rem 0.5rem;
    gap: 1rem;
    width: 100%;
    justify-content: center;
    box-sizing: border-box;
}

.chef-form > input{
    height: 40px;
    max-width: 400px;
    min-width: 150px;
    flex-grow: 1;
    border-radius: 6px;
}

.chef-form > button{
    max-width: 200px;
    min-width: 100px;
    border-radius: 6px;
    color: white;
    background-color: black;
}

.chef-form > button::before{
    content: "+";
}

.container{
    width: 80px;
    height: 80px;
    background-color: white;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: space-between;
}

.container > button{
    width: 20px;
    height: 20px;
}