.header-title{
    width: 100%;
    height: 8vh;
    background-color:#F55A5A;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
}
.journal-image{
    width: 24px;
    height: 24px;
    margin-right: 7px;
}

.journal-title{
    font-size: 0.9rem;
    font-weight: 500;
    font-family: Inter, serif;
}
